<!DOCTYPE html>
<html lang="en">
{{ template "header" }}
<body onload="loadData()">
<nav class="navigation">
  <ul class="nav justify-content-center nav-pills">
      <li class="nav-item">
        <a class="nav-link active current-tab" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category/get-all">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/topic/get-all">Topics</a>
      </li>
  </ul>
</nav>
</body>
<div class="container">
  <h1>Wait A Minute!</h1>
  <p>Have you ever made a decision only to look back and wish that you had a bit more advice or pointers 
    to look out for before committing to it? Do you ever wish you had something of a checklist that you 
    could reference the next time you were heading into the decision room? 
    <br>We’ve all been there. We’ve all 
    made decisions at some point only to second guess ourself on it later. We learn from it, that’s what 
    makes us wise. But, do we all have to fall for the same mistakes? Why fall for the same mistakes that 
    thousands of others have already done before you? This is where we come in. Before you sign off on that 
    offer or you say yes to that new deal, wait a minute. 
    <br>With an ever expanding list of pointers and advice 
    for any topic, confidently make that new deal with no regrets. Created and maintained by our growing 
    community, we have a long list of categories and topics with many tips and pointers. We all can pass 
    our knowledge on to someone else by contributing to the knowledge pools so that they can avoid our 
    mistakes.
    </p>
</div>
{{ template "footer" }}
</html>
