<!DOCTYPE html>
<html lang="en">
{{ template "header" }}
<body onload="loadData()">
<nav class="navigation">
  <ul class="nav justify-content-center nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/topics">Topics</a>
      </li>
  </ul>
</nav>
{{ template "popup" .}}
<div class="list-group list-container">
    {{range $c := .Content}}
    <a href="#" class="list-group-item list-group-item-action request-list-item text-primary">
        <span class="badge bg-success">{{$c.Title}}</span>
        <span class="badge bg-info text-dark">{{$c.Type}}</span>
        <span class="badge bg-warning text-dark">{{$c.Tags}}</span>
        <span class="badge bg-danger">{{$c.Status}}</span>
    </a>
    {{end}}
</div>
</body>
{{ template "footer" }}
</html>
