<!DOCTYPE html>
<html lang="en">
{{ template "header" }}
<body onload="loadData()">
<nav class="navigation">
  <ul class="nav justify-content-center nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active current-tab" href="/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/topic/get-all">Topics</a>
      </li>
  </ul>
</nav>
<div class="container into-tile">
    <h1 class="title-header">{{.Topic.Name}}</h1>
    <h2 class="subtitle-lvl2">{{.Topic.Description}}</h2>
</div>
<div class="card-container">
  {{ template "add-item" .}}
  {{range $t := .Pointers}}
  <a class="card-links text-primary" href="/category/get?name={{$t.Name}}">
    <div class="card bg-custom">
      <div class="card-body">
        {{$t.Name}}
      </div>
    </div>
  </a>
  {{end}}
</div>
</body>
{{ template "footer" }}
</html>
